webservice/webservice-0.0.1-SNAPSHOT.jar
log.out
*.log
node_modules/
cms/data
cms/cert
cms/app
.acme.sh/
.bash_history
.bash_logout
.bash_profile
.bashrc
.config/
.cshrc
.docker/
.docx4j/
.gitconfig
.node_repl_history
.npm/
.rnd
.ssh/
.tcshrc
.viminfo
.webservice.log
BhaskarBeheravsStateOfOrissaon12August1999.docx
HardeepSinghvsStateOfPunjabOrson10January1947.pdf
LachooRamOrsvsHimachalRoadTransportCorpnon28January1947.docx
LachooRamOrsvsHimachalRoadTransportCorpnon28January1947.pdf
cert/

