
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
.error{
  color: red;
}
.heading{
  font-size: 15px;
}
.custom-select-md{
  font-family: Arial, Helvetica, sans-serif;
}

.custom {
    margin-top: 5% !important;
}
